<h3>PageEditorWithPreview</h3>

@code {

    [Parameter]
    [EditorRequired]
    public string OriginalText { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public Action<string> OnEdited { get; set; } = null!;

}
