<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">Admin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink Match="NavLinkMatch.All" href="admin" class="nav-link">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/email" class="nav-link">Email</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/patreon" class="nav-link">Patreon</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/accessKeys" class="nav-link">Access Keys</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/github" class="nav-link">Github</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/launcherInfo" class="nav-link">Launcher Info</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/cla" class="nav-link">CLA</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/feeds" class="nav-link">Feeds</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/servers" class="nav-link">Servers</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/serverLog" class="nav-link">Server Logs</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/actionLog" class="nav-link">Action Logs</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/adminActionLog" class="nav-link">Admin Action Logs</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="admin/backup" class="nav-link">Backups</NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
