<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your report #<%= @report.id %> duplicate status changed</h1>

    <% if @report.duplicate_of %>
    <p>
      Your report is now a duplicate of
      <%= link_to @report.duplicate_of.id, URI.join(ENV['BASE_URL'],
          "/report/#{@report.duplicate_of.id}").to_s %>.
    </p>
    <% else %>
    <p>
      Your report is no longer marked as a duplicate.
    </p>
    <% end %>
    <p>
      You can view your report here: <%= link_to @report.id, URI.join(ENV['BASE_URL'],
                                         "/report/#{@report.id}").to_s %>.
    </p>
    <p>To unsubscribe from these emails, <%= link_to 'click here', URI.join(ENV['BASE_URL'],
          "/unsubscribe/email/#{@unsubscribe_token}").to_s %>.</p>
  </body>
</html>
