/.idea/.idea.ThriveDevCenter/.idea/workspace.xml

# C#
bin
obj
/ThriveDevCenter.sln.DotSettings.user
/Server/appsettings.Development.json
/Server/appsettings.Testing.json
/db_backup*.txt
/migration.sql
/.idea/.idea.ThriveDevCenter/.idea/contentModel.xml
/.idea/.idea.ThriveDevCenter/.idea/dataSources/
/.idea/.idea.ThriveDevCenter/.idea/dataSources.local.xml
/tmp
