/.idea/.idea.ThriveDevCenter/.idea/workspace.xml

# C#
bin
obj
/ThriveDevCenter.sln.DotSettings.user
/Server/appsettings.Development.json
/db_backup*.txt
/migration.sql
/build
/.idea/.idea.ThriveDevCenter/.idea/contentModel.xml
/.idea/.idea.ThriveDevCenter/.idea/dataSources/
/.idea/.idea.ThriveDevCenter/.idea/dataSources.local.xml
tmp/*
/docker_appsettings.Production.json
/docker_nginx.conf
.jetbrains-cache
/inspect_results.xml
/files_to_check.txt
*.tar.xz