[submodule "RubySetupSystem"]
	path = RubySetupSystem
	url = https://github.com/hhyyrylainen/RubySetupSystem.git
[submodule "RevolutionaryGamesCommon"]
	path = RevolutionaryGamesCommon
	url = https://github.com/Revolutionary-Games/RevolutionaryGamesCommon.git
