<BootstrapModal OnCancel="@Cancel">
    <div class="modal-body">
        <p>Are you sure you want to re-provision "@Name"?</p>
        <p>
            If the server is currently running something it is <strong>strongly</strong> discouraged
            to perform this operation as it may slow things down and cause unexpected problems
        </p>
    </div>
    <div class="modal-footer">
        <Button class="me-1" ButtonStyle="secondary" OnPressed="@Cancel">Cancel</Button>
        <Button class="me-1" ButtonStyle="danger" OnPressed="@Confirm">Re-Provision</Button>
    </div>
</BootstrapModal>

@code {

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string Name { get; set; } = null!;

    private void Confirm()
    {
        ModalInstance.CloseAsync(ModalResult.Ok(true));
    }

    private void Cancel()
    {
        ModalInstance.CloseAsync(ModalResult.Cancel());
    }

}
