@page "/association"
<h3>Revolutionary Games Studio ry</h3>

<p>
    Revolutionary Games Studio ry is an association formed to support the development of Thrive.
    The separate navigation bar above can be used to find association related functionality of the DevCenter.
</p>

<DevCenterTitle>Association</DevCenterTitle>

@code {

}
