@using System.Globalization
@using Microsoft.Extensions.Configuration
@using RevolutionaryWebApp.Server.Utilities
@model RevolutionaryWebApp.Server.Controllers.Pages.RenderedPage
@inject IConfiguration Configuration
@{
    Layout = "_PageNormalLayout";

    if (Model.ShowHeading)
        ViewData["Title"] = Model.Title;

    ViewData["MetaTitle"] = Model.Title;

    ViewData["Renderer"] = Model.ByServer;
    ViewData["Duration"] = Model.RenderTime.TotalMilliseconds.ToString(CultureInfo.InvariantCulture);
    ViewData["GeneratedAt"] = Model.RenderedAt.ToString("yyyy.MM.dd. HH:mm:ss", CultureInfo.InvariantCulture);
    ViewData["UpdatedAt"] = Model.UpdatedAt;

    ViewData["ShowLogo"] = Model.ShowLogo;

    ViewData["Canonical"] = Model.CanonicalUrl;

    ViewData["AssetsBase"] = Configuration.GetCDNPrefixWWW();

    ViewData["TopNav"] = Model.TopNavigation;
    ViewData["Sidebar"] = Model.Sidebar;
    ViewData["Socials"] = Model.Socials;

    if (Model.PreviousLink != null)
    {
        ViewData["PreviousLink"] = Model.PreviousLink.Value.Link;
        ViewData["PreviousLinkText"] = Model.PreviousLink.Value.Title;
    }

    if (Model.NextLink != null)
    {
        ViewData["NextLink"] = Model.NextLink.Value.Link;
        ViewData["NextLinkText"] = Model.NextLink.Value.Title;
    }

    // Opengraph metadata
    // https://ahrefs.com/blog/open-graph-meta-tags/
    ViewData["OpenGraphDescription"] = Model.OpenGraphMetaDescription;
    ViewData["OpenGraphPageType"] = Model.OpenGraphPageType;

    if (Model.PreviewImage != null)
    {
        ViewData["OpenGraphImage"] = Model.PreviewImage;
    }
    else
    {
        // TODO: fallback default banner for pages with no images
        ViewData["OpenGraphImage"] = null;
    }
}

<div id="main-outlet" class="markdown">
    @Html.Raw(Model.RenderedHtml)
</div>
