@using System.Globalization
@model RevolutionaryWebApp.Server.Controllers.Pages.RenderedPage
@{
    Layout = "_PageNormalLayout";

    if (Model.ShowHeading)
        ViewData["Title"] = Model.Title + " (preview)";

    ViewData["MetaTitle"] = Model.Title + " (preview)";

    ViewData["Renderer"] = Model.ByServer;
    ViewData["Duration"] = Model.RenderTime.TotalMilliseconds.ToString(CultureInfo.InvariantCulture);
    ViewData["GeneratedAt"] = Model.RenderedAt.ToString("yyyy.MM.dd. HH:mm:ss", CultureInfo.InvariantCulture);
    ViewData["UpdatedAt"] = Model.UpdatedAt;

    ViewData["ShowLogo"] = Model.ShowLogo;

    ViewData["AssetsBase"] = "";

    ViewData["OpenGraphDescription"] = null;

    ViewData["TopNav"] = Model.TopNavigation;
    ViewData["Sidebar"] = Model.Sidebar;
}

<div id="main-outlet" class="markdown">
    @Html.Raw(Model.RenderedHtml)
</div>
