@page "/About"

<h3>About</h3>

<p>
    ThriveDevCenter is a web app with various tools to help
    <a href="https://github.com/Revolutionary-Games/Thrive">Thrive</a> development.
</p>

<p>
    This site only uses cookies to track browsing sessions when you log in or begin an action (you will be told this
    beforehand) that stores temporary data on the server. Your IP address will be stored in server logs temporarily.
    This information is not publicly disclosed, but may be used to analyze the performance, security, and usage of this
    site in order to keep it operating effectively.
</p>

<p>
    This web app is an open source project, you can find the source code and help make this site better at
    <a href="https://github.com/Revolutionary-Games/ThriveDevCenter">
        https://github.com/Revolutionary-Games/ThriveDevCenter
    </a>.
</p>

<DevCenterTitle>About</DevCenterTitle>

@code {

}
