@page "/About"

<h3>About</h3>

<p>TODO: write a description here</p>

<p>
    This web app is an open source project, you can find the source code and help make this site better at
    <a href="https://github.com/Revolutionary-Games/ThriveDevCenter">
        https://github.com/Revolutionary-Games/ThriveDevCenter
    </a>.
</p>

@code {

}
