@page "/cla"
<h3>Thrive CLA</h3>

<p>
    A Contributor License Agreement (CLA) is an agreement between a contributor (that's potentially you) and
    Revolutionary Games Studio ry (a legal entity supporting Thrive development). Signing the CLA is required before
    your contributions can be accepted as the CLA grants us the necessary permissions to use your work in Thrive.
    You can read more about the reasoning on our
    <a href="https://wiki.revolutionarygamesstudio.com/wiki/Contributor_License_Agreement">wiki</a>.
</p>

@code {

}
