@page "/verify/email"
@using ThriveDevCenter.Client.Services
@using ThriveDevCenter.Shared
@using ThriveDevCenter.Shared.Forms
@using ThriveDevCenter.Shared.Models
@using System.Text.Json
@using ThriveDevCenter.Client.Utilities
@using ThriveDevCenter.Shared.Converters
@inject HttpClient Http
@inject NavigationManager NavManager
@inject ComponentUrlHelper URLHelper
<h3>Email Verification</h3>

<StatusMessageShower Message="@statusMessage" Type="@statusMessageType" />

@if(processing)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

<DevCenterTitle>Verify Email</DevCenterTitle>

@code {
    private bool processing = true;
    private string? statusMessage;
    private SiteNoticeType statusMessageType = SiteNoticeType.Danger;

    [QueryStringParameter]
    // Used through query strings
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private string? Token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        this.SetParametersFromQueryString(NavManager);

        await VerifyToken();
    }

    private async Task VerifyToken()
    {
        statusMessageType = SiteNoticeType.Danger;

        if (string.IsNullOrEmpty(Token))
        {
            statusMessage = "Failed to read token from URL";
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = true;
        statusMessage = null;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsJsonAsync("api/v1/EmailVerification", new EmailVerificationFinishForm
            {
                Token = Token,
            });
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = false;
        var content = await result.Content.ReadAsStringAsync();

        if (!result.IsSuccessStatusCode)
        {
            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            EmailVerifyResult? data = null;
            try
            {
                data = JsonSerializer.Deserialize<EmailVerifyResult>(content,
                    HttpClientHelpers.GetOptionsWithSerializers()) ?? throw new NullDecodedJsonException();
            }
            catch (JsonException e)
            {
                statusMessage = $"Error, deserializing server response: {e}";
            }

            if (data != null)
            {
                var message = "Your email has been successfully verified";

                if (!string.IsNullOrEmpty(data.RedirectTo))
                {
                    message += ". You will be redirected in 5 seconds.";
                }

                statusMessage = message;
                statusMessageType = SiteNoticeType.Success;

                if (!string.IsNullOrEmpty(data.RedirectTo))
                {
                    await InvokeAsync(StateHasChanged);
                    await PerformRedirect(data.RedirectTo);
                }
            }
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task PerformRedirect(string target)
    {
        await Task.Delay(TimeSpan.FromSeconds(5));
        NavManager.NavigateTo(target);
    }
}
