@page "/"
@using ThriveDevCenter.Client.Services
@inject StaticHomePageNotice staticHomePageNotice

<h1>ThriveDevCenter</h1>

Welcome to the new ThriveDevCenter.

@if (!string.IsNullOrEmpty(notice))
{
    <p>@notice</p>
}

@code {
    private string? notice;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        notice = await staticHomePageNotice.ReadNotice();
    }

}
