@page "/"
@using ThriveDevCenter.Client.Services
@inject StaticHomePageNotice StaticHomePageNotice

<h1>ThriveDevCenter</h1>

<p>Welcome to the ThriveDevCenter where various tools related to Thrive development reside.</p>

<p>Without logging in you have access to a few tools.</p>

<RepoReleaseStatsDisplayer />

@if (!string.IsNullOrEmpty(notice))
{
    <p>@notice</p>
}

@code {
    private string? notice;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        notice = await StaticHomePageNotice.ReadNotice();
    }

}
