@page "/lfs"
@using ThriveDevCenter.Shared
@inject HttpClient Http

<h3>Git LFS Projects</h3>

@if (items == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <table class="table table-striped table-hover table-responsive-sm">
        <thead class="thead-light">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Public</th>
        <th scope="col">Size</th>
        <th scope="col">Last Modified</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Public</td>
                <td>@item.Size</td>
                <td>@item.LastUpdated.ToLocalTime().ToString("G")</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private LFSProjectInfo[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<LFSProjectInfo[]>("LFSProject");
    }

}
