@page "/media"
@using RevolutionaryWebApp.Shared.Models.Enums
<AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@true">
    <h3>Media</h3>

    <p>This page allows uploading and managing small media files (like images) for embedding on pages.</p>

    <p>TODO: implement this</p>

    <DevCenterTitle>Media Manager</DevCenterTitle>
</AccessLimited>

@code {
}
