@page "/media"
@using RevolutionaryWebApp.Shared.Models.Enums
<AccessLimited RequiredAccess="GroupType.PostEditor" OrHasOverride="@GroupType.Developer"
               AutoRedirectIfNotLoggedIn="@true">
    <h3>Media</h3>

    <p>
        This page allows uploading and managing small media files (like images) for embedding on pages. Note that all
        uploaded media is publicly visible as long as someone can figure out the link. Deleted images don't immediately
        become inaccessible. If that is required please contact an admin.
    </p>

    <p>TODO: implement this</p>

    <DevCenterTitle>Media Manager</DevCenterTitle>
</AccessLimited>

@code {
}
