@page "/me"
@inject CurrentUserInfo CurrentUserInfo
<h3>Your Profile</h3>

<LoggedInContent>
    <NotLoggedIn>
        <RedirectToLogin />
    </NotLoggedIn>
    <LoggedIn>
        <UserInfoPageContent User="@CurrentUserInfo.Info" />
    </LoggedIn>
</LoggedInContent>

@code {

}
