[Unit]
Description=Thrive Developer Center (web process)
PartOf=thrivedevcenter.service
After=thrivedevcenter.service

[Service]
WorkingDirectory=/home/thrivedevcenter/ThriveDevCenter
ExecStart=/usr/local/bin/bundle exec rails s
# ExecStart=/home/thrivedevcenter/.rbenv/shims/bundle exec rails s
Type=simple
Restart=always
RestartSec=30
User=thrivedevcenter
EnvironmentFile=/etc/thrivedevcenter/rails_deployment_vars

[Install]
WantedBy=thrivedevcenter.service
