[Unit]
Description=Thrive developer center
After=thrivedevcenter.service

[Service]
WorkingDirectory=/home/thrivedevcenter/ThriveDevCenter
ExecStart=/usr/local/bin/bundle exec rake db:sessions:trim
Type=oneshot
User=thrivedevcenter
EnvironmentFile=/etc/thrivedevcenter/rails_deployment_vars
