@inject HttpClient Http
@inject NavigationManager NavManager
@inherits SingleResourcePage<List<long>>

<SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
    @if (Data != null)
    {
        <div>
            @foreach (var sibling in Data)
            {
                <span class="mr-1">
                    <NavLink href="@($"builds/{sibling}")">Build #@sibling</NavLink>
                </span>
            }
        </div>
    }
</SingleResourceDisplayer>


@code {

    protected override Task<List<long>?> StartQuery()
    {
        return Http.GetFromJsonAsync<List<long>>($"api/v1/DevBuilds/{Id}/siblings");
    }

}
