{
  "BaseUrl": "http://localhost:5001/",
  "Registration": {
    "Enabled": true,
    "RegistrationCode": "test_code_1234"
  },
  "CSRF": {
    "Secret": "testing_csrf_secret_value_is_this",
    "Expiry": 1000
  },
  "ConnectionStrings": {
    "WebApiConnection": "User ID=thrivedevcenter_test;Password=PASSWORDHERE;Server=localhost;Port=5432;Database=thrivedevcenter_test;Integrated Security=true;Pooling=true;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "Microsoft.AspNetCore.SignalR": "Information",
      "Microsoft.AspNetCore.Http.Connections": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "Tasks": {
    "ThreadCount": 1
  },
  "AllowedHosts": "*"
}
