@page
@inject ITokenGenerator Jwt
@inject StaticHomePageNotice StaticHomePageNotice
@using System.Text.Json
@using RevolutionaryWebApp.Server.Authorization
@using RevolutionaryWebApp.Server.Services
@using RevolutionaryWebApp.Shared
@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Shared.Models.Enums
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>RevolutionaryWebApp</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="RevolutionaryWebApp.Client.styles.css" rel="stylesheet" />
    <link href="katex.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script defer src="katex.min.js" crossorigin="anonymous"></script>
</head>
<body>

<input type="hidden" id="csrfUserToken" value="@(GenerateUserTokenJSON())" />
<input type="hidden" id="csrfTokenExpiryTimestamp" value="@GenerateExpiryTimeString()" />

@if (StaticHomePageNotice.Enabled)
{
    <input type="hidden" id="homePageNoticeTextSource" value="@StaticHomePageNotice.Text" />
}

@{
    #pragma warning disable 0162 // unreachable code
}
@* ReSharper disable once ConditionIsAlwaysTrueOrFalse *@
@if (AppInfo.UsePrerendering)
{
    <component type="typeof(RevolutionaryWebApp.Client.App)" render-mode="WebAssemblyPrerendered" />
}
else
{
    <div id="app">
        <div style="text-align: center">
            Loading app...<br>
            <span class="spinner-border text-primary" role="status"></span><br>
            Make sure JavaScript is enabled if this message is shown for more than a few seconds.<br>
            Then reload this page.
        </div>
    </div>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script src="interop.js"></script>
<script src="_framework/blazor.webassembly.js"></script>
</body>
</html>

@functions{

    private string GenerateExpiryTimeString()
    {
        var expiry =
            Jwt.GetCSRFTokenExpiry() - TimeSpan.FromSeconds(5);

        return expiry.ToString("O");
    }

    private string GenerateUserTokenJSON()
    {
        var user = Request.HttpContext.AuthenticatedUser();

        UserDTO? info = null;

        if (user != null)
        {
            info = user.GetDTO(user.AccessCachedGroupsOrThrow().HasAccessLevel(GroupType.Admin) ?
                RecordAccessLevel.Admin : RecordAccessLevel.Private);
        }

        var result = new UserToken
        {
            CSRF = Jwt.GenerateCSRFToken(user),
            User = info,
        };

        return JsonSerializer.Serialize(result);
    }

}
