@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

a.active {
    color: #6c757d;
}

a.active:hover {
    color: #6c757d;
    cursor: default;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    padding-bottom: 0.5rem;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Table sort */
th.sort {
    cursor: pointer;
}

/* Needed to make the sortable tables behave better in terms of the heading row */
/* though with responsive this in turn doesn't look good, so this is overrideable with the class below */
table.sortable {
    table-layout: fixed;
    word-wrap: break-word;
}

table.non-fixed {
    table-layout: auto !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 20px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-form > .form-group {
    max-width: 325px;
}

.paginator-container {
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row-reverse;
}

.paginator-container > nav {
    width: 100%;
}

.pagination {
    width: 100%;
}

.block-container {
    position: relative;
}

.block-overlay {
    position: absolute;
    height: calc(100% - 18px);
    min-height: 300px;
    width: calc(100% - 30px);
    top: 9px;
    left: 15px;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgba(220, 220, 220, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 3px 3px;
    overflow-y: auto;
}

/* pointer events disabled to fix flickering */
.drop-area {
    pointer-events: none;
}

/* highlights target drop control */
.valid-drop-area {
    background-color: lightseagreen;
}

.item-sidebar {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid black;
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(220, 220, 220, 0.95);
    z-index: 5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: auto;
}

@media (min-width: 641px) {
    .item-sidebar {
        top: 3.5rem;
        bottom: 5px;
        width: 45%;
        min-width: 300px;
        background-color: rgba(220, 220, 220, 0.85);
    }
}

@media (min-width: 950px) {
    .item-sidebar {
        width: 35%;
    }
}

.item-sidebar H2 {
    text-align: center;
}

.preview-box {
    border: 1px solid black;
    min-width: 128px;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.85);
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
