<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a test message from ThriveDevCenter</h1>

    <p>
      If you received this then sending emails works! If you didn't,
      then well you won't be seeing this text anyway
    </p>
  </body>
</html>
