@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Shared.Models.Enums
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/association">Association</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink href="association/meetings" class="nav-link">Meetings</NavLink>
            </li>
            <AccessLimited RequiredGroup="GroupType.Admin" AutoRedirectIfNotLoggedIn="@false">
                <li class="nav-item">
                    <NavLink href="association/members" class="nav-link">Members</NavLink>
                </li>
            </AccessLimited>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
