@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="page">
    <MediaQueryList>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <TopNavBar />

            @if (navigationManager.RelativeUrl().StartsWith("admin"))
            {
                <AdminNavBar />
            }

            <AnotherTabSigninDetector />
            <CSRFExpiryAlerter />
            <SiteNotifications />

            <div class="content px-4">
                @Body
            </div>
        </div>
    </MediaQueryList>
</div>
