@inherits LayoutComponentBase


<div class="page">
    <MediaQueryList>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <TopNavBar />

            <AnotherTabSigninDetector />
            <CSRFExpiryAlerter />
            <SiteNotifications />

            <div class="content px-4">
                @Body
            </div>
        </div>
    </MediaQueryList>
</div>
