@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Shared.Models.Enums
<div class="top-row ps-3 navbar navbar-dark">
    <!-- TODO: make the site part name appear here -->
    <a class="navbar-brand" href="">RevolutionaryWebApp</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink id="leftHomeButton" class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftDevBuildButton" class="nav-link" href="builds">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> DevBuilds
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftFilesButton" class="nav-link" href="files">
                <span class="oi oi-file" aria-hidden="true"></span> Files
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftLFSButton" class="nav-link" href="lfs">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Git LFS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftReportsButton" class="nav-link" href="reports">
                <span class="oi oi-bug" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftCIButton" class="nav-link" href="ci">
                <span class="oi oi-hard-drive" aria-hidden="true"></span> CI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftCLAButton" class="nav-link" href="cla">
                <span class="oi oi-document" aria-hidden="true"></span> CLA
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftPrecompiledObjectsButton" class="nav-link" href="precompiled">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Precompiled
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftAssociationButton" class="nav-link" href="association">
                <span class="oi oi-people" aria-hidden="true"></span> Association
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftToolsButton" class="nav-link" href="tools/crashDump">
                <span class="oi oi-wrench" aria-hidden="true"></span> Tools
            </NavLink>
        </li>
        <li class="nav-item px-3 backup-left-item">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftDebugSymbolsButton" class="nav-link" href="symbols">
                    <span class="oi oi-signpost" aria-hidden="true"></span> Symbols
                </NavLink>
            </li>
        </AccessLimited>
        <AccessLimited RequiredAccess="GroupType.Admin" AutoRedirectIfNotLoggedIn="@false">
            <hr/>
            <li class="nav-item px-3">
                <NavLink id="leftUsersButton" class="nav-link" href="users">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> Users
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink id="leftAdminButton" class="nav-link" href="admin">
                    <span class="oi oi-shield" aria-hidden="true"></span> Admin
                </NavLink>
            </li>
        </AccessLimited>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
