<div class="top-row px-4">
    <UserWidget />
    <span class="top-row-hide">
        <NavLink id="topAboutLink" class="nav-link" href="about">
            About
        </NavLink>
    </span>
</div>

@code {

}
