@inject CurrentUserInfo userInfo
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Client.Services
@implements IDisposable
@inject ICSRFTokenReader csrf

<span class="auth">
    @if (!userInfo.InfoReady)
    {
        <div class="spinner-border spinner-border-sm text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    else if (userInfo.LoggedIn)
    {
        <NavLink id="userWidgetLoggedIn" class="nav-link d-inline-block pr-0" href="me">
            @userInfo.Username
        </NavLink>
    }
    else
    {
        <NavLink id="userWidgetLoginLink" class="nav-link d-inline-block pr-0" href="login">
            Login
        </NavLink>
    }

    <span class="oi oi-person user-icon" aria-hidden="true"></span>
</span>

@if (userInfo.InfoReady && userInfo.LoggedIn)
{
    <span class="auth">
        <form method="post" action="/Logout">
            <input type="hidden" name="CSRF" value="@csrf.Token" />
            <button type="submit" class="btn btn-outline-secondary">
                Logout
                <span class="oi oi-account-logout" aria-hidden="true"></span>
            </button>
        </form>
    </span>
}

@code {

    protected override Task OnInitializedAsync()
    {
        userInfo.OnUserInfoChanged += OnUserInfoUpdated;
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        userInfo.OnUserInfoChanged -= OnUserInfoUpdated;
    }

    private void OnUserInfoUpdated(object? sender, UserInfo? newInfo)
    {
        InvokeAsync(StateHasChanged);
    }

}
