[Unit]
Description=RevolutionaryWebApp
After=network-online.target postgresql.service

[Service]
WorkingDirectory=/opt/revolutionarywebapp/
ExecStart=/opt/revolutionarywebapp/RevolutionaryWebApp.Server
Restart=always
RestartSec=10
KillSignal=SIGINT
User=revolutionarywebapp
EnvironmentFile=/etc/revolutionarywebapp/config

[Install]
WantedBy=multi-user.target