[Unit]
Description=ThriveDevCenter
After=network-online.target postgresql.service

[Service]
WorkingDirectory=/opt/thrivedevcenter/
ExecStart=/opt/thrivedevcenter/ThriveDevCenter.Server
Restart=always
RestartSec=10
KillSignal=SIGINT
User=thrivedevcenter
EnvironmentFile=/etc/thrivedevcenter/config

[Install]
WantedBy=multi-user.target