@{
    #pragma warning disable 108,114 // invalid warning for razor override
}
@inject CurrentUserInfo CurrentUserInfo
@implements IDisposable
@using RevolutionaryWebApp.Client.Services
@using RevolutionaryWebApp.Shared.Models.Enums
@inherits UserInfoReactingComponent

@* For now only show something when info is ready, to reduce having infinite number of spinners on one page *@
@if (CurrentUserInfo.InfoReady)
{
    if (CurrentUserInfo.HasGroup(RequiredAccess) ||
        (OrHasOverride != GroupType.NotLoggedIn && CurrentUserInfo.HasGroup(OrHasOverride)))
    {
        if (AuthorizedContent == null)
        {
            @ChildContent
        }
        else
        {
            @AuthorizedContent
        }
    }
    else
    {
        if ((AutoRedirectIfNotLoggedIn || RedirectOnInsufficientPermission) && !CurrentUserInfo.LoggedIn)
        {
            <RedirectToLogin />
        }
        else if (RedirectOnInsufficientPermission && CurrentUserInfo.LoggedIn)
        {
            <RedirectToLogin PermissionsProblem="true" />
        }
        else if(ShowDefaultNoAccess)
        {
            <DevCenterTitle>Access Denied</DevCenterTitle>
            <div>You lack the needed permission to view this content.</div>
        }
        else
        {
            @AccessMissingContent
        }
    }
}

@code {

    [Parameter]
    public GroupType RequiredAccess { get; set; } = GroupType.Developer;

    /// <summary>
    ///   Allows specifying an additional group to check. For now this is used as a workaround for simple group checks
    ///   that should have admin override.
    /// </summary>
    [Parameter]
    public GroupType OrHasOverride { get; set; } = GroupType.NotLoggedIn;

    [Parameter]
    public bool ShowDefaultNoAccess { get; set; }

    [Parameter]
    public bool RedirectOnInsufficientPermission { get; set; }

    [Parameter]
    public bool AutoRedirectIfNotLoggedIn { get; set; } = true;

    [Parameter]
    public RenderFragment? AccessMissingContent { get; set; }

    [Parameter]
    public RenderFragment? AuthorizedContent { get; set; }

    /// <summary>
    ///   Alternative to AuthorizedContent if that isn't set
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
