@using System.Text
@inject NavigationManager NavigationManager
@inherits NonNavigatingBreadCrumbs

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in SplitPath())
        {
            <li class="breadcrumb-item @ActiveClassForItem(item)">
                <NavLink href="@PathForItem(item)" Match="NavLinkMatch.All">@item.ItemName</NavLink>
            </li>
        }
    </ol>
</nav>

@code {

    /// <summary>
    ///   Used to construct full NavLink paths. Needs to end with a slash
    /// </summary>
    [Parameter]
    [EditorRequired]
    public string BasePath { get; set; } = null!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (BasePath == null || BasePath.Last() != '/')
            throw new ArgumentException("BasePath needs to end with a slash");
    }

    private string PathForItem(PathItem item)
    {
        // Last item needs query parameters appended to work correctly
        string? query = null;

        if (item.Active)
        {
            var uri = NavigationManager.Uri;
            var questionMark = uri.IndexOf('?');
            if (questionMark >= 0)
            {
                query = uri.Substring(questionMark);
            }
        }

        var builder = new StringBuilder();
        builder.Append(BasePath);

        if (item.Root)
        {
            // Special case for the root path, just the base path
        } else if (item.PathSoFar.Length < 1)
        {
            builder.Append(item.ItemName);
        }
        else
        {
            builder.Append(item.PathSoFar);
            builder.Append('/');
            builder.Append(item.ItemName);
        }

        if (query != null)
        {
            builder.Append(query);
        }

        return builder.ToString();
    }

}
