@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <!-- TODO: fix this -->
        <div class="top-row px-4">
            <a href="/about" class="ml-md-auto">About</a>
        </div>

        <SiteNotifications />

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
