@using RevolutionaryWebApp.Shared
@using RevolutionaryWebApp.Shared.Forms
@using RevolutionaryWebApp.Client.Services
@using System.Timers
@implements IDisposable
@inject HttpClient Http
@inject ICSRFTokenReader CSRF

<hr />
<h3>Create an account</h3>

<StatusMessageShower Message="@statusMessage" Type="@statusType" />

<EditForm Model="model" OnValidSubmit="StartSignupAsync">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <InputText type="email" class="form-control" placeholder="email" @bind-Value="model.Email" />
        <ValidationMessage For="() => model.Email" />
    </div>
    <Button class="my-1" type="submit" Enabled="@CanSubmit" Spinner="@busy">
        @ButtonText
    </Button>

    <p class="form-text">
        We will send you a link to complete creating your account. Sign up emails expire after 3 days or
        when requesting a resend.
    </p>
    <input type="hidden" @bind-value="model.CSRF" />
</EditForm>

@code {
    private SignupStartRequest model = new() { CSRF = string.Empty };
    private bool busy;

    private bool emailSentOnce;
    private int resendCooldownSeconds;
    private Timer? cooldownTimer;

    private string? statusMessage;
    private SiteNoticeType statusType = SiteNoticeType.Info;

    private string ButtonText => !emailSentOnce
        ? "Continue"
        : resendCooldownSeconds > 0 ? $"Resend Email ({resendCooldownSeconds})" : "Resend Email";

    private bool CanSubmit => !busy && resendCooldownSeconds == 0;

    private async Task StartSignupAsync()
    {
        busy = true;
        statusMessage = "Sending email...";
        statusType = SiteNoticeType.Info;
        StateHasChanged();

        try
        {
            var content = new Dictionary<string, string>
            {
                [nameof(SignupStartRequest.Email)] = model.Email,
                [nameof(SignupStartRequest.CSRF)] = CSRF.Token,
            };

            using var form = new FormUrlEncodedContent(content);
            var response = await Http.PostAsync("api/v1/signups/start", form);

            if (response.IsSuccessStatusCode)
            {
                statusMessage = "Check your inbox for a link to complete signup.";
                statusType = SiteNoticeType.Success;
                emailSentOnce = true;
                StartCooldown();
            }
            else
            {
                var text = await response.Content.ReadAsStringAsync();
                statusMessage = string.IsNullOrWhiteSpace(text) ? "Failed to start signup" : text;
                statusType = SiteNoticeType.Danger;
            }
        }
        catch (Exception e)
        {
            statusMessage = "Network request failed: " + e.Message;
            statusType = SiteNoticeType.Danger;
        }
        finally
        {
            busy = false;
            StateHasChanged();
        }
    }

    private void StartCooldown(int seconds = 60)
    {
        resendCooldownSeconds = seconds;
        cooldownTimer?.Dispose();
        cooldownTimer = new Timer(1000)
        {
            AutoReset = true,
            Enabled = false,
        };

        cooldownTimer.Elapsed += async (_, _) =>
        {
            if (resendCooldownSeconds > 0)
            {
                resendCooldownSeconds--;
                await InvokeAsync(StateHasChanged);

                if (resendCooldownSeconds == 0)
                {
                    cooldownTimer?.Stop();
                }
            }
        };

        cooldownTimer.Start();
    }

    public void Dispose()
    {
        cooldownTimer?.Dispose();
    }
}
