@inject NavigationManager NavigationManager

<h3>The resource you are trying to view does not exist or it is private</h3>

<NavLink href="@NavigationManager.GetLinkToLogin(NavigationManagerExtensions.ResourcePrivateErrorMessage)">
    Logging in
</NavLink> may make the requested resource available.
