<div class="overlay">
    <div class="d-flex justify-content-center align-items-center"
         style="height: 100%;">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Processing...</span>
        </div>
    </div>
</div>
