@page "/posts"
@using RevolutionaryWebApp.Shared.Models.Enums
<AccessLimited RequiredAccess="GroupType.Developer">
    <h3>Posts</h3>

    <p>
        These are timed posts that appear on the main website as a news feed in chronological order.
    </p>

    <p>TODO: implement</p>

    <PageTitle>Posts List</PageTitle>
</AccessLimited>

@code {

}
