@page "/admin/cla"
@using RevolutionaryWebApp.Shared.Models.Enums


<AccessLimited RequiredAccess="GroupType.Admin" RedirectOnInsufficientPermission="@true">
    <h3>CLA Configuration</h3>
    <p>
        This page allows configuring the CLA text that users need to sign. A new version should <strong>not</strong> be
        created unless there is a very strong reason as all previously signed people need to sign the new version for
        it to become effective.
    </p>

    <h4>CLA</h4>

    <CLAList />

    <h4 class="mt-3">Bulk Check Signatures</h4>

    <BulkCLASignatureChecker />

    <h4 class="mt-3">Signatures</h4>

    <CLASignatures />

    <DevCenterTitle>CLAs</DevCenterTitle>

</AccessLimited>

@code {

}
