@page "/admin"
@using ThriveDevCenter.Shared.Models.Enums

<AccessLimited RequiredGroup="GroupType.Admin" RedirectOnInsufficientPermission="@true">
    <h3>Admin Area</h3>

    <p>This is the site admin area.</p>

    <span>You can view background job statuses <a href="/hangfire" target="_blank">here</a>.</span>

    <br />

    <hr />
    <SiteMessageSender />

    <br class="mt-3" />

    <MaintenanceJobRunning />

    <DevCenterTitle>Admin Area</DevCenterTitle>
</AccessLimited>

@code {
}
