@page "/admin/email"
@using ThriveDevCenter.Shared.Models.Enums

<AccessLimited RequiredGroup="GroupType.Admin" RedirectOnInsufficientPermission="@true">
    <h3>Email Configuration</h3>

    <EmailConfigurationStatus />
    <br />

    <TestEmailSender />

    <br class="mb-3"/>

    <h3>Sent Bulk Emails</h3>
    <BulkEmailList />

    <br class="mb-3"/>

    <h3>Send Bulk Email</h3>
    <BulkEmailSender />

    <DevCenterTitle>Email Configuration</DevCenterTitle>

</AccessLimited>


@code {

}
