@page "/admin/email"
@using ThriveDevCenter.Shared.Models

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">

    <h3>Email Configuration</h3>

</AccessLimited>


@code {

}
