@page "/admin/email"
@using ThriveDevCenter.Shared.Models

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">
    <h3>Email Configuration</h3>

    <EmailConfigurationStatus />
    <br />

    <TestEmailSender />

    <h3>Sent Bulk Emails</h3>
    <BulkEmailList />

    <h3>Send Bulk Email</h3>
    <BulkEmailSender />

</AccessLimited>


@code {

}
