@page "/admin/github"
@using ThriveDevCenter.Shared.Models
@inject NavigationManager navManager

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">
    <h3>Github Configuration</h3>

    <h4>Webhooks</h4>

    <p>Github webhook URL is: <a href="@GithubWebhookURL">@GithubWebhookURL</a></p>

    <GithubWebhookControls />

    <h4 class="mt-3">Auto Pull Request Comments</h4>

    <GithubAutoCommentControls />

    <DevCenterTitle>Github</DevCenterTitle>
</AccessLimited>

@code {

    private string GithubWebhookURL => new Uri(new Uri(navManager.Uri), "/api/v1/webhook/github").ToString();
}
