@page "/admin/patreon"
@inject NavigationManager NavManager
@using ThriveDevCenter.Shared.Models.Enums

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">
    <h3>Patreon Settings</h3>

    <p>TODO: reimplement settings</p>

    <hr />

    <PatronsList />

    <Button class="mt-3" ButtonStyle="primary" OnPressed="@RedirectToCreditsDownload">
        Download list for Credits
    </Button>

    <DevCenterTitle>Patreon</DevCenterTitle>
</AccessLimited>


@code {

    private void RedirectToCreditsDownload()
    {
        NavManager.NavigateTo("/api/v1/download/patreonCredits", true);
    }
}
