@page "/admin/servers"
@using ThriveDevCenter.Shared.Models.Enums

<AccessLimited RequiredAccess="GroupType.Admin" RedirectOnInsufficientPermission="@true">
    <h3>Servers</h3>

    <h4>Controlled Servers</h4>

    These are automatically managed servers managed through AWS API.

    <br />

    <ControlledServers />

    <h4>External Servers</h4>

    These are servers that aren't provisioned automatically, instead they need to be manually created and configured
    here to be used.

    <br />

    <ExternalServers />

    <DevCenterTitle>Servers</DevCenterTitle>
</AccessLimited>

@code {

}
