@page "/admin/servers"
@using ThriveDevCenter.Shared.Models

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">
<h3>Servers</h3>

<h4>Controlled Servers</h4>

These are automatically managed servers managed through AWS API.

<ControlledServers />
</AccessLimited>

@code {

}
