@page "/admin/accessKeys"
@using ThriveDevCenter.Shared.Models

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">

    <h3>Access Keys</h3>

    <AccessKeyList />

    <Button ButtonStyle="success" Enabled="@false">New Key</Button>

</AccessLimited>


@code {

}
