@page "/admin/accessKeys"
@using ThriveDevCenter.Shared.Models

<AccessLimited RequiredAccess="UserAccessLevel.Admin" RedirectOnInsufficientPermission="@true">

    <h3>Access Keys</h3>

</AccessLimited>


@code {

}
