// All the main styles are here
html{
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

div[data-react-class="Hyperstack.Internal.Component.TopLevelRailsComponent"] {
    height: 100%;
    min-height: 100%;
    margin-top: 0px;
}

.Container{
    height: 100%;
    min-height: 100%;
    margin-top: 0px;
    display: flex;
    flex-flow: column;
}

.Content{
    margin-bottom: 20px;
    flex-grow: 1;
}

.Footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.PaginatorTotals{
    margin-left: 10px;
    position: relative;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    display: block;
}

.LeftMargin{
  margin-left: 5px;
}

.BlockContainer{
  position: relative;
}

.BlockOverlay{
  position: absolute;
  height: calc(100% - 18px);
  min-height: 300px;
  width: calc(100% - 30px);
  top: 9px;
  left: 15px;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(220, 220, 220, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 3px 3px;
}

.ItemSidebar{
  top: 25px;
  bottom: 15px;
  right: 0px;
  position: absolute;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid black;
  min-width: 300px;
  width: 35%;
  background-color: rgba(220, 220, 220, 0.85);
  z-index: 5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ItemSidebar H2{
  text-align: center;
}
